

<nav
  class="navbar navbar-expand-lg navbar-dark gris scrolling-navbar fixed-top"
  id="nav_bar"
>
  <div id="imagen_menu">
    <img
      src="../../../../../assets/logos/logoHorizontal.png"
      class="img-responsive ml-4 mr-5"
      alt="Emurcia"
    />
  </div>
  <!-- Boton navbar -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarNavAltMarkup"
    style="justify-content: center;"
  >
    <div
      class="navbar-nav"
      style="justify-content: center; align-items: center;"
    >
      <a class="btn nav-item nav-link active mr-4" type="button" href="#Inicio">
        INICIO
      </a>
      <a
        class="btn nav-item nav-link active mr-4"
        type="button"
        href="#Nosotros"
      >
        NOSOTROS
      </a>

      <a
        class="btn nav-item nav-link active mr-4"
        type="button"
        href="#Aliados"
      >
        ALIADOS
      </a>
      <!-- <a href="" class=" mr-4">
        <img src="../../../../../assets/logos/circulo_logo.png" style="width: 70px;" alt="">
      </a> -->
      <a
        class="btn nav-item nav-link active mr-4"
        href="#Servicios"
        type="button"
      >
        SERVICIOS
      </a>
      <a
        class="btn nav-item nav-link active mr-4"
        type="button"
        href="#Servicios"
      >
        CONTACTO
      </a>
      <a class="btn nav-item nav-link active mr-4" type="button" href="#">
        LOG IN
      </a>
    </div>
  </div>
</nav>


